.Calculator {
    margin-top: 50px;
    width: 400px; /* Ancho fijo para la tabla */
    padding: 15px;
    display: grid;
    border: solid red 1px;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    
    justify-items: center; /* Centra horizontalmente los elementos dentro de las celdas */
    align-items: center; /* Opcional: centra verticalmente los elementos dentro de las celdas */
    
    margin-left: auto;
    margin-right: auto; /* Centro horizontal de la grid dentro de su contenedor */

    background-color: gray;
}
